<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>Learning from large scale textual corpora and its applications in Information Retrieval and Natural Language Processing are my favorite research interests. It's an emerging hot topic in the intersection of IR, NLP and ML. In particular, I am interested in deep learning models that go beyond the typical search engines to teach them how to understand text documents and user's information needs in order to search smarter. I am also interested in understanding how current models scale to very large collections, such as WWW. Learning conceptual representation of textual documents is a follow up research work. Currently, I specialize in the area of sequence to sequence models. I am interested in the following topics:</p>
          <ul class="resume-item-list">
              <li>Deep Learning:</li>
              <ul>
                <li>sequence to sequence models</li>
                <li>encoder--decoder models</li>
                <li>neural machine translation</li>
                <li>semantic embedding</li>
                <li>multi-task transfer learning</li>
              </ul>
            <li>Information Retrieval:</li>
              <ul>
                <li>web document ranking</li>
                <li>query reformulation</li>
                <li>understanding user's query intent</li>
                <li>clustering/classification</li>
              </ul>
            <li>Natural Language Engineering:</li>
              <ul>
                <li>dialog systems</li>
                <li>machine translation/transliteration</li>
                <li>semantic relatedness</li>
                <li>topic modeling</li>
              </ul>
          </ul>

        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Teaching</h3>
          <p class="resume-item-copy">I teach the following courses at Qazvin Islamic Azad University from 2008 to now:</p>
          <ul class="resume-item-list">
            <li>2015-Now, Advanced topics in Information Retrieval (graduate).</li>
            <li>2015-Now, Advanced topics in Natural Language Processing (graduate).</li>
            <li>2011-Now, Introduction to Information Retrieval (undergraduate).</li>
            <li>2010-Now, Data Structure (undergraduate).</li>
            <li>2009-2015, Advanced Object-Oriented programming (undergraduate).</li>
            <li>2008-2009, Introduction to computer and programming (undergraduate).</li>
          </ul>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Islamic Azad University, Science and Research Branch</h3>
          <h4 class="resume-item-details" itemprop="description">Ph.D. degree in software engineering, Tehran, Iran. &bull; 2009 &mdash; 2015</h4>
          <p class="resume-item-copy">Specialization in conceptual language processing, Dissertation topic: Knowledge-based feature generation for textual information based on constructing and analyzing semantic complex networks.</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Qazvin Islamic Azad University</h3>
          <h4 class="resume-item-details" itemprop="description">M.Sc. degree in software engineering, Qazvin, Iran. &bull; 2007 &mdash; 2009</h4>
          <p class="resume-item-copy">Specialization in Topic Modeling from Wikipedia, Dissertation topic: Mining Structured Information from Unstructured Texts using Wikipedia-based Semantic Analysis, GPA: 19.11/20 (top student).</p>
        </div>


        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Bu-Ali Sina University</h3>
          <h4 class="resume-item-details" itemprop="description">B.Sc. degree in software engineering, Hamadan, Iran. &bull; 2002 &mdash; 2006</h4>
          <p class="resume-item-copy">Specialization in Document Clustering, Dissertation topic: Document Clustering Based on Fuzzy Approaches in Two-Stage Information Retrieval.</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Deep Learning</h3>
          <h4 class="resume-item-details">Learning conceptual representation of textual documents &bull; 2015 &mdash; Now</h4>
          <p class="resume-item-copy">Studied on different applictions of deep learning (specially sequence-to-sequence models) in Information Retrieval and Natural Language Processing.</p>
          <ul class="resume-item-list">
            <li>Amir H. Jadidinejad, ``Neural Machine Transliteration'', ArXive, 2016.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Conceptual Feature Generation</h3>
          <h4 class="resume-item-details">PhD thesis &bull; 2010 &mdash; 2015</h4>
          <p class="resume-item-copy">Studied on knowledge extraction from large scale Collaboratively Constructed Semantic Resources (specially Wikipedia as a multilingual, huge, popular encyclopedia and Wiktionary as Wikipedia's lexical companion) to construct a huge scale, machine-readable ontology and leverage it to solve some preliminary problems in IR and NLP. I specialized in the problem of mapping a fragment of unstructured text into Wikipedia Concept Space. This approach has been applied in different IR and NLP tasks such as: semantic similarity, document clustering/classification and etc.</p>
          <ul class="resume-item-list">
            <li>Amir H. Jadidinejad, Fariborz Mahmoudi and M.R. Meybodi, ``Conceptual feature generation for textual information using a conceptual network constructed from Wikipedia'', Expert Systems, 33 (1), 92-106, 2016.</li>
            <li>Amir H. Jadidinejad, Fariborz Mahmoudi and M.R. Meybodi, ``Clique-based semantic kernel with application to semantic relatedness'', Natural Language Engineering, 21 (5), 725-742, 2015.</li>
            <li>Amir H. Jadidinejad, Fariborz Mahmoudi, ``Unsupervised Short Answer Grading Using Spreading Activation over an Associative Network of Concepts/La notation sans surveillance des réponses courtes en utilisant la diffusion d'activation dans un réseau associatif de concepts'', Canadian Journal of Information and Library Science, 38 (4), 287-303, 2014.</li>
            <li>Amir H. Jadidinejad, ``Unsupervised Information Extraction using BabelNet and DBpedi'', 3rd workshop on Making Sense of Microposts, World Wide Web Conference, Brazil, 2013.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Machine Learning in multidisciplinary fields</h3>
          <h4 class="resume-item-details">In collaboration with S.M.R Tousi &bull; 2007 &mdash; 2008</h4>
          <p class="resume-item-copy">Advisor of a Ph.D dissertation in Power Engineering in order to create an intelligent multi-agent framework to enhance elimination of voltage disturbances in power system contingencies.</p>
          <ul class="resume-item-list">
            <li>MR Tousi, SH Hosseinian, AH Jadidinejad, MB Menhaj, ``Multi-agent based voltage control of STATCOMs to enhance elimination of voltage disturbances in power system contingencies'', In Proceeding of 43rd International Universities Power Engineering Conference, 2008.</li>
            <li>M.R. Tousi, A.H. Jadidinejad, S.H. Hosseinian, M.B. Menhaj, ``Application of SARSA learning algorithm for reactive power control in power system'', In Proceeding of PECon 2008, 2nd IEEE International Conference on Power and Energy, Johor Bahru, Malaysia, December 2008.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">National Referenced Health Semantic Model</h3>
          <h4 class="resume-item-details">Tamin Company &bull; 2009 &mdash; 2010</h4>
          <p class="resume-item-copy">Developed the first phase of standardization of electronic health record within a professional team composed of expert peoples in the field of computer engineering and medicine.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Persian Information Retrieval</h3>
          <h4 class="resume-item-details">Msc thesis &bull; 2008 &mdash; 2010</h4>
          <p class="resume-item-copy">Developed different tools and evaluated state-of-the-art structural query construction and retrieval models.</p>
          <ul class="resume-item-list">
            <li>Amir H. Jadidinejad, Fariborz Mahmoudi and Jon Dehdari, ``Evaluation of Perstem: A Simple and Efficient Stemming Algorithm for Persian'', In Proceeding of the Multilingual Information Access Evaluation I. Text Retrieval Experiments, Lecture Notes in Computer Science, Volume 6241/2010, pp. 98-101, 2010.</li>
            <li>Amir H. Jadidinejad, Fariborz Mahmoudi, ``Cross-Language Information Retrieval Using Meta-language Index Construction and Structural Queries'', In Proceeding of the Multilingual Information Access Evaluation I. Text Retrieval Experiments, Lecture Notes in Computer Science, Volume 6241/2010, pp. 70-77, 2010.</li>
            <li>Amir H. Jadidinejad, Mitra Mohtarami, Hadi Amiri, ``Investigation on Application of Local Cluster Analysis and Part of Speech Tagging on Persian Text'', In Proceeding of the Cross Language Evaluation Forum (CLEF 2008 Working Notes), Aarhus, Denmark, 2008.</li>
            <li>Amir H. Jadidinejad and Hadi Amiri, ``Local Cluster Analysis as a Basis for High-Precision Information Retrieval'', In Proceeding of INFOS2008 International Conference on Informatics and Systems, Cairo, Egypt, March 2008.</li> 
          </ul>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming</h4>
          <p class="resume-item-copy">Java, Python, C/C++, R, Perl</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Machine Learning Tools</h4>
          <p class="resume-item-copy">Scikit-Learn, Weka, GenSim, GloVe, Mallet</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Deep Learning Tools</h4>
          <p class="resume-item-copy">TensorFlow, Theano</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Information Retrieval Tools</h4>
          <p class="resume-item-copy">Lemur, Indri, Terrier, Apache (Solar, Nutch, Lucene, Tika, Jena), KEA, NLTK</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Natural Language Processing Tools</h4>
          <p class="resume-item-copy">S-Space, Apache (Tika, Jena), KEA, NLTK</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Development Tools</h4>
          <p class="resume-item-copy">GIT, SVN, IPython Notebook, IntelliJ IDEA, Eclipse</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Data bases</h4>
          <p class="resume-item-copy">Neo4j, MySQL</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Knowledge bases</h4>
          <p class="resume-item-copy">BabelNet, DBpedia, Freebase</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line"></p>
      </footer>

    </div>

  </body>

</html>
